services:
  db:
    image: postgres:16.3
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    restart: unless-stopped
  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    restart: unless-stopped
    env_file:
      - .env
  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3030:3030"
    restart: unless-stopped
    