@charset "UTF-8";
.home {
  padding: 10% 0;
  max-width: 1440px;
  width: 100vw;
  height: clamp(580px, 85vh, 1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(3, 193, 245, 0.1764705882), rgba(3, 193, 245, 0.1019607843), rgba(3, 193, 245, 0.0274509804), rgba(3, 193, 245, 0.0274509804), rgba(3, 193, 245, 0), rgba(3, 193, 245, 0), rgba(3, 193, 245, 0));
  animation: pulse 1.5s infinite ease-in-out;
  animation-delay: 4s;
  background-position: center;
  background-repeat: no-repeat;
}
.home .home-page {
  margin-bottom: 10px;
  width: 95%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.home .home-page .business {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #252b37;
}
.home .home-page .business img {
  width: clamp(15px, 2vw, 20px);
}
.home .home-page .business p {
  margin-left: 5px;
  font-size: clamp(9px, 2vw, 14px);
}
.home .home-page .texto-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  text-align: center;
}
.home .home-page .texto-home .taylor-principal {
  font-size: clamp(40px, 8vw, 65px);
  animation: letterExpand 5s ease-in-out infinite;
}
.home .home-page .texto-home .taylor-secundario {
  margin: 5px 0px;
  font-size: clamp(24px, 8vw, 60px);
  width: 100%;
  max-width: 800px;
}
.home .home-page .texto-home .taylor-paragrafo {
  padding: 8px 0px;
  width: 100%;
  max-width: 620px;
  font-size: clamp(15px, 4vw, 20px);
}
.home .vantagens {
  margin-top: 20px;
  padding: 0px 3.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 700px;
  flex-wrap: wrap;
}
.home .vantagens .cards-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
  flex: 1 1 80px;
}
.home .vantagens .cards-home .cards-h1 {
  font-size: clamp(13px, 6vw, 25px);
}
.home .vantagens .cards-home .cards-p {
  font-size: clamp(10px, 2.5vw, 13px);
}

.escolher {
  width: 100vw;
  max-width: 1440px;
  min-height: 700px;
  background-color: #0e1116;
  padding: 2% 0px;
  border-top: 5px solid #14171e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-escolher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0px 10px;
  width: clamp(320px, 90%, 600px);
}
.text-escolher h1 {
  font-size: clamp(25px, 8vw, 40px);
  width: 95%;
}
.text-escolher p {
  margin-top: 10px;
  font-size: clamp(10px, 3vw, 20px);
  width: clamp(200px, 95vw, 600px);
}

.cards-escolher {
  padding: 1%;
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 25px;
}
.cards-escolher .card-escolher {
  padding: 2%;
  padding-top: 30px;
  padding-left: 15px;
  min-height: 210px;
  flex: 1 1 400px;
  background-color: #0d0f15;
  border: 2px solid #252b37;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.cards-escolher .card-escolher .image-escolher {
  max-width: 60px;
}
.cards-escolher .card-escolher .image-escolher img {
  background-color: #0d202b;
  padding: 7px;
  width: clamp(35px, 5vw, 45px);
  border-radius: 5px;
}
.cards-escolher .card-escolher .text-card-escolher h2 {
  margin-top: 15px;
  font-size: clamp(20px, 5vw, 25px);
}
.cards-escolher .card-escolher .text-card-escolher p {
  margin-top: 15px;
  font-size: clamp(10px, 3vw, 18px);
}

.impulsionam {
  width: 100vw;
  max-width: 1440px;
  min-height: 700px;
  background-color: #0b0e13;
  border-top: 5px solid #14171e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 0px;
  padding-top: 4%;
}

.text-impulsionam {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-impulsionam h1 {
  width: 90%;
  max-width: 600px;
  font-size: clamp(22px, 6vw, 40px);
}
.text-impulsionam p {
  width: 95%;
  max-width: 800px;
  font-size: clamp(10px, 3vw, 20px);
  margin-top: 10px;
}

.cards-impulsionam {
  margin-top: 20px;
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cards-impulsionam .card-impulsionam {
  flex: 1 1 300px;
  min-height: 130px;
  border-radius: 7px;
  border: 2px solid #252b37;
  background-color: #14181f;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}
.cards-impulsionam .card-impulsionam img {
  background-color: #0d202b;
  padding: 5px;
  width: clamp(35px, 5vw, 45px);
  border-radius: 5px;
}
.cards-impulsionam .card-impulsionam h3 {
  margin-top: 10px;
}
.cards-impulsionam .card-impulsionam p {
  margin-top: 10px;
  font-size: clamp(10px, 3vw, 18px);
}

.card-principal-impulsionam {
  width: 90%;
  max-width: 950px;
  border: 2px solid #252b37;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-top: 35px;
  padding: 2% 3%;
}

.text-card-p-impulsionam {
  text-align: center;
  padding: 2%;
  flex: 1 1 150px;
  min-height: 80px;
}
.text-card-p-impulsionam h2 {
  color: #04b9ff;
  font-size: clamp(20px, 6vw, 30px);
}
.text-card-p-impulsionam p {
  margin-top: 7px;
  font-size: clamp(10px, 3vw, 18px);
}

.pilares {
  width: 100vw;
  max-width: 1440px;
  min-height: 700px;
  background-color: #0b0e13;
  border-top: 5px solid #14171e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 0px;
  padding-top: 4%;
}

.text-pilares {
  width: clamp(270px, 90%, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  gap: 10px;
}
.text-pilares h1 {
  font-size: clamp(25px, 8vw, 40px);
}
.text-pilares p {
  font-size: clamp(10px, 3vw, 20px);
  width: 95%;
}

.cards-pilares {
  padding: 3%;
  width: 98%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  justify-items: center;
}

.card-pilar {
  min-height: 300px;
  border: 2px solid #252b37;
  background-color: #14181f;
  border-radius: 7px;
  flex: 1 1 290px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-pilar img {
  background-color: #0d202b;
  padding: 5px;
  width: clamp(35px, 5vw, 45px);
  border-radius: 5px;
}
.card-pilar p {
  font-size: clamp(8px, 4vw, 16px);
}

.text-pilar-cards {
  margin-top: 5px;
}
.text-pilar-cards p {
  margin-top: 15px;
}

.tres-vantagens-pilares {
  margin-top: 5px;
}

.vantagem-pilar {
  display: flex;
  justify-content: left;
  align-items: center;
}
.vantagem-pilar .bolinha-pilar {
  width: 5px;
  height: 5px;
  background-color: #00bfff;
  margin-right: 6px;
  border-radius: 100%;
}
.vantagem-pilar .p-vantagem-pilar {
  margin-bottom: 3px;
}

.negocio {
  width: 100vw;
  max-width: 1440px;
  background-color: #0b0e13;
  border-top: 5px solid #14171e;
}
.negocio .gradiente-negocio {
  padding: 5% 7%;
  height: 90%;
  background-image: linear-gradient(to right, #213f47, #0b2125);
  display: flex;
  justify-content: center;
  align-items: center;
}
.negocio footer {
  height: 60px;
  border-top: 2px solid #14171e;
  background-color: #0b0e13;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.negocio footer p {
  margin-top: 7px;
  font-size: clamp(10px, 3vw, 13px);
}
.negocio footer p a:hover {
  animation: letterExpandMin 3s ease-in-out infinite;
}

.cartao-negocio {
  width: 100%;
  max-width: 750px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  min-height: 260px;
  border-radius: 15px;
  background-color: rgba(15, 28, 35, 0.6705882353);
  border: 2px solid #252b37;
  padding: 2% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cartao-negocio .text-cartao-negocio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.cartao-negocio .text-cartao-negocio h1 {
  width: 100%;
  max-width: 700px;
  font-size: clamp(18px, 6vw, 40px);
}
.cartao-negocio .text-cartao-negocio p {
  width: 90%;
  margin-top: 10px;
  max-width: 600px;
  font-size: clamp(10px, 3vw, 20px);
  margin: 15px 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(20, 23, 30, 0.8431372549);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  z-index: 90;
}
header nav {
  height: 80px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
header nav ul li > a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}
header nav ul li > a:hover {
  color: #0e9497;
}

body {
  overflow: hidden;
}

.waitingline {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 3% 0;
}
.waitingline .card-waitingline {
  margin: 0 3%;
  height: clamp(500px, 80vh, 650px);
  border-radius: 15px;
  border: 2px solid #252b37;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3% 1%;
}
.waitingline .card-waitingline h1 {
  animation: letterExpand 6s infinite;
}
.waitingline .card-waitingline p {
  width: 95%;
  max-width: 500px;
  margin: 30px 0px;
  margin-top: 10px;
  margin-top: 10px;
  font-size: clamp(12px, 4vw, 15px);
}
.waitingline .card-waitingline .cadastro-taylor {
  height: 30vh;
  width: 95%;
  padding: 0 3%;
}
.waitingline .card-waitingline .cadastro-taylor form.form-cadastro {
  display: flex;
  flex-direction: column;
  gap: 25px 0px;
  align-items: center;
  margin-bottom: 30px;
}
.waitingline .card-waitingline .cadastro-taylor form.form-cadastro input {
  height: 40px;
  width: 100%;
  max-width: 400px;
  padding: 0px 2%;
  border-radius: 10px;
  outline: 0;
  border: 0.2px solid #252b37;
  background-color: rgba(37, 43, 55, 0);
  color: white;
  caret-color: #00bfff;
}
.waitingline .card-waitingline .cadastro-taylor form.form-cadastro button {
  width: 100%;
  max-width: 250px;
  height: 35px;
  border-radius: 15px;
  background-color: #00bfff;
  box-shadow: 0 0 20px 5px rgba(0, 191, 255, 0.3294117647);
  transition: 2s ease;
  outline: 0;
  border: 0;
}
.waitingline .card-waitingline .cadastro-taylor form.form-cadastro button:hover {
  transform: scale(1.1);
}
.waitingline .card-waitingline .cadastro-taylor .p-footer {
  font-size: clamp(12px, 3vw, 13px);
}

.PageMe {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #8191a4;
}

h1,
h2,
h3 {
  color: #f8fafc;
}

.text-gradient {
  background-image: linear-gradient(90deg, #03c2f5, #13b1a3, #03c2f5, #13b1a3, #03c2f5);
  background-size: 300%; /* deixa mais dramático */
  background-position: 0% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  animation: gradientMove 6s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
@keyframes letterExpand {
  0% {
    letter-spacing: 0px;
    background-position: 0% 50%;
  }
  50% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 0px;
    background-position: 300% 50%;
  }
}
@keyframes letterExpandMin {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 2px;
  }
  100% {
    letter-spacing: 0px;
  }
}
.all-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

html {
  overflow-y: scroll; /* Mantém espaço do scroll fixo */
}

body {
  background-color: #0c0f14;
}

::-webkit-scrollbar-track {
  background-color: #0c1116;
}

::-webkit-scrollbar {
  width: 8px;
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #252b37;
  border-radius: 10px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.cursor-outer,
.cursor-dot {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

@keyframes pulse {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.btn-comecar {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: clamp(25px, 7vh, 35px);
  border-radius: 5px;
  background-color: #00bfff;
  box-shadow: 0 0 20px 5px rgba(0, 191, 255, 0.3294117647);
  transition: 2s ease;
  margin: 5px 0px;
}
.btn-comecar p {
  font-size: clamp(8px, 3vw, 12px);
  padding: 0px 8px;
  color: black;
}

.btn-comecar:hover {
  transform: scale(1.1);
}

.loging-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0c1015;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loding-svg {
  height: 100px;
}
.loding-svg path {
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 0.5px;
  animation: draw 60s ease;
  animation-delay: 0.3s;
  stroke-dasharray: 4500;
}
.loding-svg g {
  stroke: rgba(255, 255, 255, 0);
  animation: draw 60s ease;
  stroke-dasharray: 4500;
  animation-delay: 1s;
}
.loding-svg g circle {
  stroke-width: 0.5px;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
    stroke: #fff;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #fff;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0c0f14 inset !important;
  -webkit-text-fill-color: white !important;
  border: 0.2px solid #252b37;
  outline: 0;
  caret-color: #00bfff !important;
}/*# sourceMappingURL=index.css.map */