@use "home-page/home.scss";
@use "home-page/escolher.scss";
@use "home-page/impulsionam.scss";
@use "home-page/pilares.scss";
@use "home-page/negocio.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    color: #8191A4;
}

h1, h2, h3{
    color: #F8FAFC;
}

.text-gradient{
    background-image: linear-gradient(to right, #03C2F5, #13B1A3);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.all-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

@keyframes rotacaoInfinita {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body{
    background-color: #0C0F14;
}

::-webkit-scrollbar-track {
    background-color: #0C1116;
}

::-webkit-scrollbar {
    width: 8px;
    background: #2b2b2b;
}
::-webkit-scrollbar-thumb {
    background: #252B37;
    border-radius: 10px;
    transition: background 0.2s ease;
}


.cursor-outer, .cursor-dot {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

.cursor-outer {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  backdrop-filter: blur(1px);
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%); 
  pointer-events: none;
  z-index: 9999;
}

.cursor-dot {
  height: 10px;
  width: 10px;
  background-color: white;
  transition: all 0s linear;
}

@keyframes pulse {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.btn-comecar{
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: clamp(25px, 7vh, 35px);
  border-radius: 5px;
  background-color: #00BFFF;
  box-shadow: 0 0 20px 5px #00bfff54;
  transition: 2s ease;
  margin: 5px 0px;

  p {
      font-size: clamp(8px, 3vw, 12px);
      padding: 0px 8px;
      color: black;
  }
}

.btn-comecar:hover{
    transform: scale(1.1);
}