.escolher {
  width: 100vw;
  max-width: 1440px;
  min-height: 700px;
  background-color: #0e1116;
  padding: 2% 0px;
  border-top: 5px solid #14171e;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-escolher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0px 10px;
  width: clamp(320px, 90%, 600px);

  h1 {
    font-size: clamp(25px, 8vw, 40px);
    width: 95%;
  }
  p {
    margin-top: 10px;
    font-size: clamp(10px, 3vw, 20px);
    width: clamp(200px, 95vw, 600px);
  }
}

.cards-escolher {
  padding: 1%;
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 25px;

  .card-escolher {
    padding: 2%;
    padding-top: 30px;
    padding-left: 15px;
    min-height: 210px;
    flex: 1 1 400px;
    background-color: #0d0f15;
    border: 2px solid #252b37;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .image-escolher {
      max-width: 60px;
      img {
        background-color: #0d202b;
        padding: 7px;
        width: clamp(35px, 5vw, 45px);
        border-radius: 5px;
      }
    }
    .text-card-escolher {
      h2 {
        margin-top: 15px;
        font-size: clamp(20px, 5vw, 25px);
      }

      p {
        margin-top: 15px;
        font-size: clamp(10px, 3vw, 18px);
      }
    }
  }
}
