header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #14171ed7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  z-index: 90;
  nav {
    height: 80px;
    width: 1440px;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;

      li > a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-size: 16px;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #0e9497;
        }
      }
    }
  }
}
