.impulsionam{
    width: 100vw;
    max-width: 1440px;
    min-height: 700px;
    background-color: #0B0E13;
    border-top: 5px solid #14171E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0px;
    padding-top: 4%;
}

.text-impulsionam{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{
        width: 90%;
        max-width: 600px;
        font-size: clamp(22px, 6vw, 40px);
    }
    p {
        width: 95%;
        max-width: 800px;
        font-size: clamp(10px, 3vw, 20px);
        margin-top: 10px;
    }
}

.cards-impulsionam{
    margin-top: 20px;
    width: 95%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .card-impulsionam{
        flex: 1 1 300px;
        min-height: 130px;
        border-radius: 7px;
        border: 2px solid #252B37;
        background-color: #14181F;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 10px;

        img{
        background-color: #0d202b;
        padding: 5px;
        width: clamp(35px, 5vw, 45px);
        border-radius: 5px;
        }

        h3{
            margin-top: 10px;
        }

        p{
            margin-top: 10px;
            font-size: clamp(10px, 3vw, 18px);
        }
    }
}

.card-principal-impulsionam{
    width: 90%;
    max-width: 950px;
    border: 2px solid #252B37;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 35px;
    padding: 2% 3%;
}

.text-card-p-impulsionam{
    text-align: center;
    padding: 2%;
    flex: 1 1 150px;
    min-height: 80px;

    h2 {
        color: #04B9FF;
        font-size: clamp(20px, 6vw, 30px);
    }
    p {
        margin-top: 7px;
        font-size: clamp(10px, 3vw, 18px);
    }
}